# Database URL
DATABASE_URL=postgres://postgres.ofxdiznecktidzzwolfd:SfuHfDQ9tJcDTn5Y@aws-1-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x
# JWT Secret
JWT_SECRET=888a69dc2d3fe2b7090ca1f2d25651a6